.place__image {
  width: 100%;
  aspect-ratio: 1.18;
  object-fit: cover;
}

.place__image:nth-of-type(even) {
  grid-column-start: 2;
}

@media screen and (max-width: 730px) {
  .place__image {
    align-self: center;
    width: 90%;
    aspect-ratio: 1.5;
  }
}

@media screen and (max-width: 420px) {
  .place__image {
    width: 100%;
  }
}
