.intro__wrapper {
    padding: 100px 150px 0 0;
  }

  @media screen and (max-width: 1100px) {
    .intro__wrapper {
      padding: 100px 100px 0 0;
  } 

  @media screen and (max-width: 980px) {
    .intro__wrapper {
      padding: 70px 50px 0 0;
  } 

  @media screen and (max-width: 800px) {
    .intro__wrapper {
      text-align: center;
      padding: 0;
    }
  }