.intro {
  background-color: #fff;
  padding: 5% 12% 10% 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

@media screen and (max-width: 630px) {
    .intro {
      flex-direction: column-reverse;
      padding: 5%;      
    }
}

@media screen and (max-width: 420px) {
  .intro {
    padding: 0;      
  }
}