.intro__image {
  object-fit: cover;
  width: 700px;
  height: 400px;
}

@media screen and (max-width: 800px) {
  .intro__image {
    object-fit: contain;
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 560px) {
  .intro__image {
    width: 100%;
    padding: 0;
  }
}
