.intro__image {
  object-fit: cover;
  max-width: 350px;
  aspect-ratio: 1/0;
}

@media screen and (max-width: 1080px) {
  .intro__image {
    max-width: 280px;
  }
}

@media screen and (max-width: 890px) {
  .intro__image {
    max-width: 200px;
  }
}

@media screen and (max-width: 630px) {
  .intro__image {
    max-width: 100%;
    align-self: center;
    margin-bottom: 5%;
    aspect-ratio: 1/2;
  }
}
