.header__list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 560px) {
  .header__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px;      
  }    
}

@media screen and (max-width: 420px) {
  .header__list {
    display: flex;
    flex-direction: column;    
  }    
}